.App {
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.Toolbar {
  background-color: rgba(31, 51, 74, 0.319);
  height: 60px;
  padding-bottom: 50px;
}

.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

button {
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #ddd;
  color: black;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: default;
}

.Column{
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: bold 20px/1.5 sans-serif;
}